.cover__backgrounds {
    color: white;
    margin: auto;
  
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
    max-width: 1184px;
    min-height: 740px;
}

@media screen and (max-width: 320px) {
    .cover__backgrounds {
        max-width: 320px;
        min-height: 200px;
    }
}